model:
  model_path: /robby/share/MM/LingBot_ckpt/lingbot_vla/checkpoints/global_step_200000/hf_ckpt/
  tokenizer_path: '/robby/share/MM/checkpoints/huggingface/Qwen2.5-VL-3B-Instruct/'
  post_training: true
  adanorm_time: true
  old_adanorm: true

data:
  datasets_type: vla
  data_name: robotwin_5_new
  train_path: /robby/share/Robotics/yangshuai/cache/huggingface/lerobot_merged/set_2/
  num_workers: 8
  norm_type: bounds_99_woclip
  norm_stats_file: assets/norm_stats/robotwin_50.json

train:
  output_dir: /robby/share/MM/robotwin_ckpt/lingbot_cotraining_abs/lingbot_robotwin5new/
  loss_type: L1_fm
  data_parallel_mode: fsdp2
  enable_full_shard: false
  module_fsdp_enable: true
  use_compile: true
  use_wandb: false
  rmpad: false
  rmpad_with_pos_ids: false
  ulysses_parallel_size: 1
  freeze_vision_encoder: false
  tokenizer_max_length: 24
  action_dim: 14
  max_action_dim: 75
  max_state_dim: 75
  lr: 1.0e-4
  lr_decay_style: constant
  num_train_epochs: 69
  micro_batch_size: 32
  global_batch_size: 256
  max_steps: 220000
  ckpt_manager: dcp
  save_steps: 220000
  save_epochs: 69
  enable_fp32: true
  enable_resume: true